.row
  .span6.columns
    %fieldset
      = form_for user, :html => {:class => 'form-stacked'} do |f|
        - if user.errors.any?
          .alert-message.block-message.error
            %p #{pluralize(user.errors.count, "problem")} with your registration:
            .errors
              - user.errors.full_messages.each do |msg|
                %p= msg

        .clearfix
          = f.label :name
          .input
            = f.text_field :name, :class => "field"

        .clearfix
          = f.label :email
          .input
            = f.text_field :email, :class => "field"

        .clearfix
          = f.label :password
          .input
            = f.password_field :password, :class => "field"
            - if defined? editing
              %span.help-block Leave blank to keep your current password

        .clearfix
          = f.label :password_confirmation
          .input
            = f.password_field :password_confirmation, :class => "field"
		
        .clearfix
          = f.label :address
          .input
            = f.text_field :address, :class => "field"
		
        .clearfix
          = f.label :city
          .input
            = f.text_field :city, :class => "field"
		
        .clearfix
          = f.label :state
          .input
            = f.text_field :state, :class => "field"
			
        .clearfix
          = f.label :zip
          .input
            = f.text_field :zip, :class => "field"

          = f.hidden_field :stripe_token
          = f.hidden_field :last_4_digits

        - if user.last_4_digits
          #change-card.clearfix
            %label Card
            .input
              %span
                Using card ending with #{user.last_4_digits}
                = link_to "(change)", "#"

        %noscript
          %p
            This form requires Javascript to use

        #credit-card{:style => user.last_4_digits ? "display:none" : "display:block"}
          #credit-card-errors{:style => "display:none"}
            #stripe-error-message.alert-message.block-message.error

          / these fields are disabled before submission and are never transmitted back to rails
          .clearfix
            = label_tag :credit_card_number
            .input
              = text_field_tag :credit_card_number, params[:credit_card_number], :class => "field", :disabled => true

          .clearfix
            = label_tag :cvv, "Security code (CVV)"
            .input
              = text_field_tag :cvv, params[:cvv], :class => "small", :disabled => true

          .clearfix
            = label_tag :expiry_date
            .input
              = date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => "small"}

            /empty
          %span.note
            Your credit card details will be sent directly to our payment processor

        .actions
          = f.submit((defined?(editing) ? "Update" : "Register"), :class => "btn primary")